@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #73C8A9;
  background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  
  background: linear-gradient(to right, #373B44, #73C8A9); 
}

@media(max-height:670px){
  body {
    padding: 20px;
  }
}

@media(max-height:630px){
  body {
    padding: 50px;
  }
}